/* DRAWER */
.MuiDrawer-paperAnchorDockedLeft {
	border-right: none !important
}

.MuiListItem-root.Mui-selected, .MuiListItem-root.Mui-selected:hover {
	background-color : rgba(41, 121, 255, .12) !important; 
}

.MuiListItem-root.Mui-selected {
	border-left: 4px solid #2979ff !important;
}

.MuiListItem-root.Mui-selected, 
.MuiListItem-root:hover {
	border-top-right-radius: 40px;
	border-bottom-right-radius: 40px;
}

.MuiListItem-root.Mui-selected > .MuiListItemIcon-root, 
.MuiListItem-root.Mui-selected > .MuiListItemText-root span {
	color : #2979ff !important;
}